@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

#root {

}

@layer base{
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }

  h3{
    @apply text-lg font-semibold;
  }

}


@layer components {
  .btn-blue {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
}